@import "tailwindcss";

@theme {
	/* colors */
	--color-text-black: #000000;
	--color-text-gray: #707070;
	--color-primary-yellow: #fec435;
	--color-primary-orange: #fe8935;
	--color-secondary-peach: #fff9eb;
	--color-secondary-gray: #d9d9d9;
}

@utility container {
	@apply max-w-[1440px] mx-auto px-[10px];
	@apply max-w-[1440px] mx-auto h-full;
}

body {
	font-family: var(--font-nunitoSans);
}
