@import "tailwindcss";

@theme {
  /* colors */
  --color-text-black: #000000;
  --color-text-gray: #707070;
  --color-primary-yellow: #FEC435;
  --color-primary-orange: #FE8935;
  --color-secondary-peach: #FFF9EB;
  --color-secondary-gray: #D9D9D9;
}

@utility container {
  @apply max-w-[1440px] mx-auto;
}

body {
  font-family: var(--font-nunitoSans);
}